h3{
 margin-bottom: 8px;   
 margin-top: 8px;
}

body {
    background-color: black;
    color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#page-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lightpink;
    text-shadow: 2px 2px crimson;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.ability-choices {
    display: table-row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    gap: 16px;
    max-width: 1000px;
    border-spacing: 32px;
    border-radius: 10px;
    border: 10px solid black;
    background-color: black;

}

.choice-button-container {
    background-color: #749AD4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
    height: 30vh;

}

.choice-button-cell {
    background-color: #749AD4;
    display: table-cell;
    border-radius: 10px;
    padding: 16px;
    align-items: center;
    box-shadow: wheat 4px 4px;
    width: 30%;
}



.stone-choice, .parasol-choice, .sword-choice {
    background-color: #749AD4;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 36px;
    text-shadow: 2px 2px 2px black;
    border: none;
    display: flex;
    align-self:center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 60%;
}

.btn-canvas {
    margin-bottom: 16px;
}

.result-outer-container {
    display:table-column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 16px;
    max-width: 1000px;
    border-spacing: 32px;
    border-radius: 10px;
    background-color: black;
    padding: 16px;
    width: 40vw;
    min-height: 30vh;
    margin-bottom: 16px;
    flex: 1;
}

.result-inner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #749AD4;
    border-radius: 10px;
    width: 90%;
    height: 20vh;
    padding: 16px 16px;
    box-shadow: wheat 4px 4px;
}

.result-text-cell{
    width: 30%;
    font-size: 24px;
    font-weight: 700;
}

.score-container{
    width: 95%;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 16px;
}

.hovering{
    transform: scale(1.2);
    border: 5px solid wheat;
}

.clicking{
    transform: scale(0.8);
    border: none;
}